<div class="container-fluid">
  <div class="row-fluid">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="span4">
            機能
          </th>
          <th class="span8">
            説明
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= link_to '板の管理', board_manager_index_path %>
          </td>
          <td>
            板を管理します
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
